 /*screen size*/
    /*
    - Mobile: 375px
    - Desktop: 1440px
*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
:root{
    /* color */
    --Dark_Violet: hsl(256, 26%, 20%);
    --Grayish_Blue: hsl(216, 30%, 68%);
    --Very_Dark_Violet: hsl(270, 9%, 17%);
    --Dark_Grayish_Violet: hsl(273, 4%, 51%);
    --Very_Light_Gray: hsl(0, 0%, 98%);
    --white: #fff;
    /* font-family */
    --DM_Serif_Display: 'DM Serif Display';
    --karma: 'Karla';
    --weight_400: 400;
    --weight_700: 700;
}
html, body{
    box-sizing: border-box;
    font-family: var(--karma);
    font-weight: var(--weight_400);
    font-size: 16px;
    margin:0;
    padding: 0;     
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}
.header, .how-we-work, .plans, .blog{
    padding: 0 165px;
}
h1{    
    font-size: 60px;
    padding-right: 25%;
    margin-bottom:5px;
}
h1, h4{
    font-family: var(--DM_Serif_Display);
    font-weight: var(--weight_400);
}
p{
    line-height: 1.5;
    padding-right: 33px;
    margin:0;
}
ul,li,
a{      
    display: inline;
    text-decoration: none;
    list-style: none; 
    margin:0;
}
.upperLetter{ 
    text-transform: uppercase;
}
hr{
    color: var(--Dark_Grayish_Violet);
    margin: 0;
    width: 150px;
    height:0px;
}
.btn-dark, .btn-light{
    padding: 15px 26px;
}

.btn-dark{    
    border: 1px solid var(--Very_Dark_Violet);
    color: var(--Very_Dark_Violet);    
}
.btn-light{
    border: 1px solid var(--white);
    color: var(--white);
}
.background{ 
    background-color: var(--Dark_Violet);  
    position: absolute;
    z-index: -1;    
    width: 100%;
}

/* NAVBAR */
.header{
    align-items: center;    
    font-weight: var(--weight_700);
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    height: 20vh;   
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    position: relative;
    z-index: 1;
}
nav > ul li a{
    color: var(--Dark_Grayish_Violet);
    padding: 0 13.5px;
}
/* MAIN */
/*Section 1 - How we work */
main{
    position: relative;
    color: var(--white);
}

main > .background{ 
    height: 610px;
}
.img-bg{
    position: absolute;
}
.img-bg-left{
    top: 430px;
}
.img-bg-right{
    left: 71%;
    top: -70px;
}
.how-we-work{
    height: 790px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 110px;
}
.how-we-work > div{
    flex: 1 1;
}
.h-w-w-right{
    float: right;
    
}
.h-w-w-left a {
    position: absolute;
    margin-top: 35px;
}

/*Section 2 - Plans */
.h1-dark, h4{
    color: var(--Very_Dark_Violet);
}
.plans{ 
    height: 600px;
    color: var(--Dark_Grayish_Violet);
}
.sec-plans{
    display: flex;
    flex-wrap: wrap;
}
.sec-plans > div{
    flex: 1 1 200px;
}

/*Section 3 - Blog */
.blog .background{    
    height: 15%;
    width: 75%;    
}
.sec-blog { 
    display: flex;
    flex-wrap: wrap
}
.sec-blog h1{ 
    padding-right: 0;
    padding-left:80px;
    font-size: 57px;
}
.sec-blog > div{
    flex: 1 1 300px;
}
.sec-blog .btn-light{ 
    position: absolute;
    bottom: 61px;
    right: 350px;
}











.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }